@import "color";

.cell {
    display: block;
    border: 0.1em solid $gray-000;

    &-small {
        width: 1em;
        height: 1em;
    }

    &-medium {
        width: 2em;
        height: 2em;
    }
}