.editormodeless {
    & .pure-img {
        max-width: 8em;
    }

    & input {
        width: 100%;
    }

    & :not(.keyvalueoption-banner-2)>input.key {
        width: 8em;
    }

    & .keyvalueoption-banner-2 {
        &-collapse {
            grid-template-columns: max-content max-content 1fr;
        }
    }
}