.justify {
    &-l {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &-r {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}