.keyvalueoption {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    grid-auto-rows: max-content;
    column-gap: .25em;
    row-gap: .35em;
    align-items: center;

    &-align-start {
        align-items: start;
    }

    &-align-stretch {
        align-content: stretch;
        align-items: stretch;
    }

    &>&-banner {
        grid-column: span 3;
    }

    &>&-banner-2 {
        grid-column: span 2;
    }
}