@import "color";

.app {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    &__table {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__debug-modeless {
        position: fixed;
        width: 40rem;
        height: 25rem;
        top: 0;
        left: 0;
        background-color: $gray-300;;
    }

    %__modal-bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }

    &__modal-bg {
        @extend %__modal-bg;

        &--clear {
            @extend %__modal-bg;
        }

        &--dark {
            @extend %__modal-bg;
            background-color: rgba(0,0,0,0.2);
        }

        &--centering {
            @extend %__modal-bg;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    %__contextmenu {
        position: fixed;
        background-color: $gray-900;
        padding: 0.2rem 0.1rem 0.22rem 0.1rem;
        border-radius: 0.3rem;
        z-index: 2048;
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 1fr;
    }

    &__contextmenu {
        @extend %__contextmenu;

        &--centering {
            @extend %__contextmenu;
            transform: translate(-50%, -50%);
        }
    }

    %__btn {
        border: none;
        outline: none;
        padding-top: 0.2em;
        padding-bottom: 0.21em;
        padding-left: 1.2ch;
        padding-right: 1.2ch;
        text-align: center;
        border-radius: 0.3em;
        font-size: 0.83em;

        &:hover {
            cursor: pointer;
        }
    }

    &__btn {
        @extend %__btn;

        &--primary {
            @extend %__btn;
            background-color: $blue-500;
            color: white;
            &:hover {
                background-color: $blue-400;
            }
        }

        &--secondary {
            @extend %__btn;
            background-color: $gray-500;
            color: white;
            &:hover {
                background-color: $gray-400;
            }
        }

        &--info {
            @extend %__btn;
            background-color: $purple-500;
            color: white;
            &:hover {
                background-color: $purple-400;
            }
        }

        &--danger {
            @extend %__btn;
            background-color: $red-500;
            color: white;
            &:hover {
                background-color: $red-400;
            }
        }

        &--success {
            @extend %__btn;
            background-color: $green-500;
            color: white;
            &:hover {
                background-color: $green-400;
            }
        }

        &--dark {
            @extend %__btn;
            background-color: $gray-900;
            color: white;
            &:hover {
                background-color: $gray-800;
            }
        }
    }

    &__contextmenu-btn {
        background-color: $gray-900;
        color: white;
        border: none;
        outline: none;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        padding-left: 1.2ch;
        padding-right: 1.2ch;
        text-align: center;
        font-size: 0.83em;
        &:hover {
            cursor: pointer;
            background-color: $gray-600;
        }
    }
}

#app-sidemenu {
    height: 100%;
    display: grid;
    grid-template-columns: max-content;
    grid-auto-rows: max-content;
    align-content: center;
    position: absolute;
    top: 0;
    left: 0;
    row-gap: 1ch;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    & > .btn {
        padding-top: 1.25em;
        padding-bottom: 1.25em;
    }
}

#app-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    &>div{
        border-bottom: 0.1rem solid $gray-200;
    }
    &>div:first-child {
        height: 3.6rem;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        display: grid;
        grid-template-columns: 1fr max-content max-content;
        column-gap: 1ch;
        align-items: center;
        & > input {
            border: none;
            font-size: 1.2rem;
            line-height: 2;
            &:focus {
                padding-left: 1ch;
            }
        }
    }
    &>div:last-child {
        height: 3.2rem;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        display: grid;
        grid-template-columns: max-content max-content max-content max-content;
        column-gap: 1ch;
        align-items: center;
    }
}
