@import "color";

#app {
    display: grid;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#table {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
}

#app-side-menu {
    height: 100%;
    display: grid;
    grid-template-columns: max-content;
    grid-auto-rows: max-content;
    align-content: center;
    position: absolute;
    top: 0;
    left: 0;
    row-gap: 1ch;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    & > .btn {
        padding-top: 1.1em;
        padding-bottom: 1.4em;
    }
}

#app-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    &>div{
        border-bottom: 0.1rem solid $gray-200;
    }
    &>div:first-child {
        height: 3.6rem;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        display: grid;
        grid-template-columns: 1fr max-content max-content;
        column-gap: 1ch;
        align-items: center;
        & > input {
            border: none;
            font-size: 1.2rem;
            line-height: 2;
            &:focus {
                padding-left: 1ch;
            }
        }
    }
    &>div:last-child {
        height: 3.2rem;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        display: grid;
        grid-template-columns: max-content max-content max-content max-content;
        column-gap: 1ch;
        align-items: center;
    }
}
