@import "color";

.bg {
    &-color {
        &-red-t {
            background-color: rgba($red-500, 0.3);
        }

        &-dark {
            background-color: $gray-900;
        }

        &-dark-t {
            background-color: rgba($gray-900, 0.3);
        }
    }
}