@import "color";

.btn {
    border: none;
    outline: none;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 1.2ch;
    padding-right: 1.2ch;
    text-align: center;
    border-radius: 0.3em;
    &:hover {
        cursor: pointer;
    }
    &[data-btn-variant="primary"] {
        background-color: $blue-500;
        color: white;
        &:hover {
            background-color: $blue-400;
        }
    }
    &[data-btn-variant="secondary"] {
        background-color: $gray-500;
        color: white;
        &:hover {
            background-color: $gray-400;
        }
    }
    &[data-btn-variant="info"] {
        background-color: $purple-500;
        color: white;
        &:hover {
            background-color: $purple-400;
        }
    }
    &[data-btn-variant="danger"] {
        background-color: $red-500;
        color: white;
        &:hover {
            background-color: $red-400;
        }
    }
    &[data-btn-variant="success"] {
        background-color: $green-500;
        color: white;
        &:hover {
            background-color: $green-400;
        }
    }
}

.btn_close {
    border: none;
    outline: none;
    line-height: 1;
    height: 1.6em;
    width: 1.6em;
    text-align: center;
    border-radius: 50%;
    background-color: $red-500;
    color: white;
    &:hover {
        cursor: pointer;
        background-color: $red-400;
    }
}

.btn_tab {
    border: none;
    outline: none;
    border-radius: 0.3em 0 0 0.3em;
    background-color: $gray-900;
    color: white;
    text-align: right;
    &:hover {
        cursor: pointer;
        background-color: $gray-600;
    }
    & > .btn_tab-close {
        border: none;
        outline: none;
        line-height: 1;
        height: 1.6em;
        width: 1.6em;
        text-align: center;
        border-radius: 50%;
        margin-left: 1ch;
        background-color: $gray-900;
        color: white;
        &:hover {
            cursor: pointer;
            background-color: $gray-500;
        }
    }
    &[data-btn_tab-selected="true"] {
        background-color: $blue-500;
        & > .btn_tab-close {
            background-color: $blue-400
        }
    }
}

.btn_contextmenu {
    background-color: $gray-900;
    color: white;
    border: none;
    outline: none;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 1.2ch;
    padding-right: 1.2ch;
    text-align: center;
    &:hover {
        cursor: pointer;
        background-color: $gray-600;
    }
}
