@import "color";

.btn {
    border: none;
    outline: none;
    padding-top: 0.1em;
    padding-bottom: 0.4em;
    padding-left: 1.2ch;
    padding-right: 1.2ch;
    text-align: center;
    font-family: "Kan415Typos Std";
    border-radius: 0.3em;
    &:hover {
        cursor: pointer;
    }
    &[data-btn-variant="primary"] {
        background-color: $blue;
        color: white;
        &:hover {
            background-color: $blue-400;
        }
    }
    &[data-btn-variant="info"] {
        background-color: $purple;
        color: white;
        &:hover {
            background-color: $purple-400;
        }
    }
}