.centering {
    display: grid;

    &-a {
        justify-content: center;
        align-content: center;

        &-i {
            justify-items: center;
            align-items: center;
        }
    }

    &-v {
        align-content: center;

        &-i {
            align-items: center;
        }
    }

    &-h {
        justify-content: center;

        &-i {
            justify-items: center;
        }
    }
}