@import "color";

.chat {
    &-item {
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-template-rows: max-content max-content;
        grid-template-areas: "icon args""icon text";
        column-gap: 0.3em;
        row-gap: 0.2em;
    }

    &-icon {
        grid-area: icon;
    }

    &-args {
        grid-area: args;
    }

    &-payload {
        grid-area: text;
        min-height: max-content;
        position: relative;

        &>pre {
            padding: .5em .6em;
            margin: 0;
            overflow-y: scroll;
            white-space: pre-wrap !important;
            overflow-wrap: anywhere !important;
            max-height: 40vh;
            box-sizing: border-box;
            line-height: 1.5;
            background-color: $gray-000;
            user-select: text;
            color: $gray-900;
            border-radius: 0.5ch;
        }
    }
}