.chat {
    &-item {
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-template-rows: max-content max-content;
        grid-template-areas: "icon arg""icon text";
    }

    &-payload {
        grid-area: text;
        min-height: max-content;
        position: relative;

        &>pre {
            opacity: 0;
            border: 1px solid transparent;
            padding: .5em .6em;
            margin: 0;
            overflow: hidden;
            white-space: pre-wrap !important;
            overflow-wrap: anywhere !important;
            max-height: 40vh;
            box-sizing: border-box;
        }

        &>textarea {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            resize: none;
            white-space: pre-wrap !important;
            overflow-wrap: anywhere !important;
            max-height: 40vh;
        }
    }
}