@import "color";

.checkbox {
    &>input[type="checkbox"] {
        display: none;
        &:checked + label {
            &::before {
                color: $gray-800;
                background-color: $gray-200;
                content: "â—";
                text-align: center;
            }
        }
    }
    &>label {
        display: grid;
        grid-auto-columns: max-content;
        grid-template-rows: 1fr;
        align-items: center;
        grid-auto-flow: column;
        &::before {
            line-height: 1.2em;
            height: 1.2em;
            width: 1.2em;
            border: 0.1em solid $gray-600;
            background-color: $gray-400;
            content: "";
            display: inline-block;
            border-radius: 0.3em;;
        }
    }
}