@import "color";

.context_menu {
    position: fixed;
    background-color: $gray-900;
    padding: 0.2rem 0.1rem 0.22rem 0.1rem;
    border-radius: 0.3rem;
    z-index: 2048;
}

.context_menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}