@import "color";

.form {
    position: absolute;
    min-width: 10vw;
    top: 20vh;
    left: 20vw;
    border: 1px solid $gray;
    padding: 0;
    border-radius: 0.3rem;
}

.form-header {
    min-height: 1rem;
    background-color: $gray;
    color: white;
    padding-left: 2ch;
}

.form-body {
    padding-left: 1ch;
    padding-right: 1ch;
    background-color: white;
}

.form-footer {
    background-color: $gray;
    min-height: 0.5rem;
}
