@import "color";

.frame {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr max-content;
    box-shadow: 0 0 0.1rem 0 $gray-900;
    color: $gray-000;
    position: relative;

    &-modal {
        max-height: 90vh;
    }
    
    & > .frame-header {
        line-height: 1;
        padding: 0.5em;
        background-color: $gray-900;
    }

    & > .frame-body {
        background-color: $gray-800;
    }

    & > .frame-footer {
        line-height: 1;
        padding: 0.5em;
        background-color: $gray-700;
        font-size: 0.8em;
        &[data-frame-footer-type="danger"] {
            background-color: $red-900;
        }
    }

    &-resizer {
        width: 1em;
        height: 1em;
        position: absolute;
        display: block;
        
        &-t {
            width: calc(100% - 2em);
            top: 0;
            left: 1em;
            &:hover {
                cursor: n-resize;
            }
        }

        &-l {
            height: calc(100% - 2em);
            top: 1em;
            left: 0;
            &:hover {
                cursor: w-resize;
            }
        }

        &-b {
            width: calc(100% - 2em);
            bottom: 0;
            left: 1em;
            &:hover {
                cursor: s-resize;
            }
        }

        &-r {
            height: calc(100% - 2em);
            top: 1em;
            right: 0;
            &:hover {
                cursor: e-resize;
            }
        }

        &-tl {
            top: 0;
            left: 0;
            &:hover {
                cursor: nw-resize;
            }
        }

        &-bl {
            bottom: 0;
            left: 0;
            &:hover {
                cursor: sw-resize;
            }
        }

        &-br {
            bottom: 0;
            right: 0;
            &:hover {
                cursor: se-resize;
            }
        }

        &-tr {
            top: 0;
            right: 0;
            &:hover {
                cursor: ne-resize;
            }
        }
    }
}