@import "color";

.frame {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr max-content;
    box-shadow: 0 0 0.1rem 0 $gray-900;
    color: $gray-000;
    
    & > .frame-header {
        line-height: 1;
        padding: 0.5em;
        background-color: $gray-900;
    }

    & > .frame-body {
        background-color: $gray-800;
    }

    & > .frame-footer {
        line-height: 1;
        padding: 0.5em;
        background-color: $gray-900;
        &[data-frame-footer-type="danger"] {
            background-color: $red-900;
        }
    }
}