.grid {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-auto-rows: max-content;

    & > &-j-l {
        grid-column-start: 1;
    }

    & > &-j-r {
        grid-column-end: -1;
    }

    & > &-w-f {
        grid-column-start: 1;
        grid-column-end: -1;
    }
    
    @for $c from 1 through 24 {
        & > &-w-#{$c} {
            grid-column: span $c;
        }
    }

    @for $c from 1 through 23 {
        & > &-cs-#{$c} {
            grid-column-start: $c;
        }
    }

    @for $c from 2 through 24 {
        & > &-ce-#{$c} {
            grid-column-end: $c;
        }
    }

    @for $c from 1 through 12 {
        & > &-cc-2x#{$c} {
            grid-column: #{13 - $c} / #{12 + $c};
        }
    }
}