@import "color";

.icon {
    border-radius: 50%;
    background-color: $blue-900;
    text-align: center;
    color: white;
    display: inline-block;
    &[data-icon-variant="small"] {
        width: 1.2rem;
        height: 1.2rem;
        font-size: 1.2rem;
    }
    &[data-icon-variant="medium"] {
        width: 3.6rem;
        height: 3.6rem;
        font-size: 3.6rem;
    }
    &[data-icon-variant="large"] {
        width: 5.2rem;
        height: 5.2rem;
        font-size: 5.2rem;
    }
}
