.icon {
    overflow: hidden;
    display: grid;
    align-items: center;
    justify-items: center;
    object-fit: cover;
    object-position: top;
    width: 2em;
    height: 2em;

    &-small {
        font-size: 1em;
    }

    &-medium {
        font-size: 1.5em;
    }

    &-large {
        font-size: 3em;
    }

    &-rounded {
        border-radius: 50%;
    }
}