.keyvalue {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-auto-rows: max-content;
    column-gap: .25em;
    row-gap: .35em;
    align-items: center;

    &-rev {
        grid-template-columns: 1fr max-content;
    }

    &-align-start {
        align-items: start;
    }
}