.linear {
    &-h {
        display: grid;
        grid-auto-columns: max-content;
        column-gap: 0.5em;
        grid-auto-flow: column;

        &-eq {
            grid-auto-columns: 1fr !important;
        }
    }

    &-v {
        display: grid;
        grid-auto-rows: max-content;
        row-gap: 0.8em;
        grid-auto-flow: row;

        &-stretch {
            align-items: stretch;
        }
    }
}