@import "color";

.pure-button {
    box-sizing: border-box;

    &-primary {
        color: $gray-000 !important;
        background-color: $blue-500 !important;
    }

    &-secondary {
        color: $gray-000 !important;
        background-color: $gray-500 !important;
    }

    &-info {
        color: $gray-900 !important;
        background-color: $blue-300 !important;
    }

    &-danger {
        color: $gray-000 !important;
        background-color: $red-900 !important;
    }

    &-success {
        color: $gray-000 !important;
        background-color: $green-500 !important;
    }

    &-dark {
        color: $gray-000 !important;
        background-color: $gray-900 !important;
    }

    &-darkgray {
        color: $gray-000 !important;
        background-color: $gray-700 !important;
    }

    &-transparent {
        color: $gray-000 !important;
        background-color: transparent;
    }

    &-spacer {
        background-color: transparent;
        color: transparent;
        opacity: 0;
    }

    &-tab {
        padding-top: 0;
        padding-bottom: 0;
    }

    &-sidemenu {
        display: grid;
        grid-auto-flow: row;
        font-size: 0.8em;

        &>i {
            font-size: 2em;
        }
    }

    &-close {
        color: $gray-000 !important;
        background-color: transparent;
    }

    &-frametab {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        padding: .75em 1em;
    }

    &-headermenu {
        color: $gray-000 !important;
        background-color: $gray-900 !important;
        text-align: left;
    }
}