@import "color";

.pure-menu {
    color: $gray-000;
    background-color: $gray-900 !important;
    overflow: visible;

    & * {
        overflow: visible;
    }

    &-link {
        color: inherit !important;

        &:hover {
            background-color: $gray-700 !important;
            cursor: pointer;
        }
    }

    &-has-children {
        &>.pure-menu-item {
            border-right: 0.2em solid $gray-000;
        }

        &:hover {
            &>.pure-menu-children {
                display: block;
                color: $gray-000;
                background-color: $gray-900 !important;
            }
        }
    }
}