@import "color";
@import "fullscreen";
@import "centering";
@import "frame";
@import "grid";
@import "pure-button";
@import "justify";
@import "pure-form";
@import "keyvalue";
@import "linear";
@import "container";
@import "panel";
@import "text";
@import "toggle";
@import "cover";
@import "pure-menu";
@import "bg";
@import "pure-img";
@import "scroll";
@import "flex";
@import "unselectable";
@import "clickable";
@import "grubbed";
@import "chat";
@import "keyvalueoption";
@import "icon";
@import "cell";
@import "editormodeless";

html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    line-height: 1;
    font-family: sans-serif;
}

* {
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

::-webkit-scrollbar {
    width: 1.2ch;
    height: 1.2ch;
}

::-webkit-scrollbar-track {
    border-radius: 0.5ch;
    background-color: $gray-100;
}

::-webkit-scrollbar-thumb {
    background-color: $gray-300;
    border-radius: 0.5ch;
}