@import "color";
@import "animation";

html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    line-height: 1.5;
    font-family: sans-serif;
    background-color: $gray-000;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input,
select,
button {
    line-height: 1.5;
}

* {
    overflow: visible;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

hr {
    width: 100%;
    height: 0.1em;
    border: none;
    background-color: $gray-000;
    margin-top: 0.35em;
    margin-bottom: 0;
}

::-webkit-scrollbar {
    width: 1.2ch;
    height: 1.2ch;
}

::-webkit-scrollbar-track {
    border-radius: 0.5ch;
    background-color: $gray-100;
}

::-webkit-scrollbar-thumb {
    background-color: $gray-300;
    border-radius: 0.5ch;
}

.pure-button {
    line-height: 1.5;
}

.pure-form select {
    height: max-content;
}