@import "color";

.text {
    &-primary {
        color: $blue-600;
    }
    &-secondary {
        color: $gray-600;
    }
    &-success {
        color: $green-600;
    }

    &-label {
        padding: 0.35em 0 0.45em;
    }
}