@import "color";

.text {
    &-color-primary-d {
        color: $blue-600;
    }
    &-color-secondary-d {
        color: $gray-600;
    }
    &-color-success-d {
        color: $green-600;
    }
    &-color-danger-l {
        color: $red-400;
    }

    &-label {
        padding: 0.35em 0 0.45em;
    }
}